/* styles.css */

html,
body {
  height: 100%;
}

img {
  max-width: 100%;
}

.section-content {
  padding: 3rem 0;
}

.card {
  padding: 0.5rem;
}

.form-inline > .form-group {
  padding-left: 0.2rem;
  padding-right: 0.2rem;
}

.about-text {
  background: rgba(0, 0, 0, 0.6);
  color: whitesmoke;
  padding: 1.5rem;
}

.about-text > a {
  color: whitesmoke;
}

#cover {
  background: #222 url('../img/stars.jpg') center center no-repeat;
  background-size: cover;
  color: white;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
}

#cover-caption {
  width: 100%;
}

#about {
  background: url('../img/girlincar.jpg') center center no-repeat;
  background-size: cover;
}

#footer-main {
  background: #222;
  color: whitesmoke;
  font-size: 0.8rem;
  padding: 2rem 0;
}